/* WMS - common.css 全站通用 */
/* alice.base 样式模块 https://github.com/aliceui/base/blob/master/src/base.css*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */

input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
/*a:link {*/
/*color: #0ae;*/
/*}*/

/* 鼠标悬停 */
a:hover {
    color: #0080cc;
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 简单的渐变 */
.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background:-ms-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(to bottom, #fcfcfc, #f1f1f1);
}

/* 浅色的渐变 */
.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background:-ms-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(to bottom, #fcfcfc, #f9f9f9);
}

/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}


/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}
/* chrome 下设置 line-height异常 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="text"],
    input[type="password"] {
        line-height:normal;
    }
}

input[type="submit"],
input[type="button"],
input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}
/* global */
img {
    max-width: 100%;
    vertical-align: middle;
}

/* 定位 */
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block;}
*html .clearfix{height:1%}
. Clearfix{display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}

/* 宽高 */
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w200{width:200px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w{width:100%}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}
.h{height:100%}

/* 边距 */
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}


@font-face {font-family: "iconfont";
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}
.icon-shanchu:before { content: "\e60d"; }
.icon-kaishi:before { content: "\e600"; }
.icon-luntan:before { content: "\e610"; }
.icon-zhuye:before { content: "\e60a"; }
.icon-bangzhu:before { content: "\e60e"; }
.icon-tuichu:before { content: "\e607"; }
.icon-zhinenghuaxuanpinicon4:before { content: "\e60f"; }
.icon-fasongwenjian:before { content: "\e614"; }
.icon-67:before { content: "\e615"; }
.icon-renshihetong:before { content: "\e608"; }
.icon-icon:before { content: "\e616"; }
.icon-icon1:before { content: "\e601"; }
.icon-zixun:before { content: "\e617"; }
.icon-news:before { content: "\e618"; }
.icon-shezhi:before { content: "\e609"; }
.icon-wu:before { content: "\e619"; }
.icon-geren:before { content: "\e60b"; }
.icon-renmai:before { content: "\e625"; }
.icon-peixun:before { content: "\e602"; }
.icon-xiaolvdashitubiao22:before { content: "\e61a"; }
.icon-xiaolvdashitubiao23:before { content: "\e61b"; }
.icon-shounawenjian:before { content: "\e61c"; }
.icon-xiaoxi:before { content: "\e611"; }
.icon-jia:before { content: "\e612"; }
.icon-chakanyewuliucheng:before { content: "\e626"; }
.icon-tongxunlu:before { content: "\e60c"; }
.icon-huiyishi:before { content: "\e603"; }
.icon-caidandaohang:before { content: "\e61d"; }
.icon-release:before { content: "\e613"; }
.icon-icon04:before { content: "\e61e"; }
.icon-zhishiku:before { content: "\e61f"; }
.icon-kehuxuqiu:before { content: "\e620"; }
.icon-icon204:before { content: "\e621"; }
.icon-huiyiziliao:before { content: "\e604"; }
.icon-jinxingtiaozanting:before { content: "\e622"; }
.icon-wendangguanli:before { content: "\e605"; }
.icon-zhuye1:before { content: "\e623"; }
.icon-qypx:before { content: "\e606"; }
.icon-jinxingzhong:before { content: "\e624"; }


/* header */
.layout-index .content-box {
    min-width: 1200px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 60px;
    padding: 0 20px;
    background: #0080cc;
}

.nav-menus {
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}

.nav-menus li {
    float: left;
}

.nav-menus li a {
    display: inline-block;
    min-width: 130px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.nav-menus li a:hover,
.nav-menus li a.current {
    background-color: #016aa9;
    color: #f9dc78;
}

.user-info {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px 0;
    background-color: #0080cc;
}

.user-info:hover .user-menus, .user-info.active .user-menus {
    display: block;
}

.user-info:hover .ui-icon-arrow, .user-info.active .ui-icon-arrow {
    transform: rotate(180deg);
}

.user-avatar {
    margin-right: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.avatar {
    border-radius: 50%;
}

.user-welcome {
    margin-top: 16px;
    color: #c4deed;
}

.ui-icon-arrow {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 16px;
    margin-left: 10px;
    transform: rotate(0deg);
    transition: transform .2s ease-in;
}

.ui-icon-arrow:before,
.ui-icon-arrow:after {
    position: absolute;
    left: 2px;
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-style: solid dashed dashed dashed;
}

.ui-icon-arrow:before {
    top: 6px;
    border-top-color: #c4deed;
}

.ui-icon-arrow:after {
    top: 4px;
    border-top-color: #0080cc;
}

.user-menus {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.user-menus li a {
    display: inline-block;
    min-width: 113px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.user-menus > li {
    position: relative;
    background: #0080cc;
}

.user-menus > li:hover,
.user-menus > li.selected,
.user-menus > li > ul > li {
    background: #3399d6;
}

.user-menus > li:hover > a,
.user-menus > li.selected > a {
    color: #012d47;
}

.user-menus > li:hover > ul,
.user-menus > li.selected > ul {
    display: block;
}

.user-menus > li > ul > li:hover a {
    color: #012d47;
    background: #99cceb;
}

.user-menus > li > ul {
    position: absolute;
    top: 0;
    left: -100%;
    display: none;
}

/* container */
#container {
    padding: 20px;
}

#sidebar {
    margin-right: 10px;
}

/* content */
.tabs-nav {
    margin-bottom: 10px;
}

.tabs-nav ul {
    visibility: visible;
    border-bottom: 2px solid #c1daea;
}

.tabs-nav ul li {
    position: relative;
    float: left;
    display: inline-block;
    min-width: 120px;
    margin-top: 5px;
    margin-bottom: -2px;
    border-bottom: 2px solid #c1daea;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.tabs-nav ul li a {
    color: #333;
    text-decoration: none;
}

.tabs-nav ul li:hover,
.tabs-nav ul li.current {
    color: #0080cc;
    border-bottom: 2px solid #0080cc;
}

.tabs-nav ul li:hover a,
.tabs-nav ul li.current a {
    color: #0080cc;
}

.tips-num {
    display: inline-block;
    min-width: 15px;
    height: 21px;
    padding: 0 3px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    background-color: #ffa76d;
    color: #fff;
    /*vertical-align: baseline;*/
}

.tabs-nav ul li:hover .tips-num,
.tabs-nav ul li.current .tips-num {
    background-color: #ff4e00;
}

#content {
    overflow-x: hidden;
    overflow-y: auto;
}

/* color */
.red {
    color: #ff4e00;
}

/* OA 新样式 */
.icon-zhuye {
    font-size: 20px;
    line-height: 20px;
    color: #91c6e5;
}

.breadcrumb {
    margin-bottom: 10px;
    font-family: 宋体;
    color: #666;
}

.publish-btn {
    display: inline-block;
    width: 210px;
    height: 210px;
    text-indent: -9999em;
    background: #66b3e0 url(../img/btn_publish.png) no-repeat center;
}
.wf-nav {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.wf-nav .wf-title {
    padding: 10px 0;
}

.wf-nav .wf-title h3 {
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
}

.wf-nav .wf-list li {
    line-height: 40px;
    border-top: 1px solid #ddd;
    color: #666;
}
.wf-nav .wf-list li:hover {
    border-top: 1px solid #c1daea;
}
.wf-nav .wf-list li a {
    position: relative;
    display: block;
    padding-left: 65px;
    border-left: 4px solid transparent;
    color: #666;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wf-nav .wf-list li a:before {
    position: absolute;
    top: 0;
    left: 39px;
    content: " ";
    width: 2px;
    height: 40px;
    overflow: hidden;
    background: #0080cc;
}

.wf-nav .wf-list li a:after {
    position: absolute;
    top: 14px;
    left: 33px;
    content: " ";
    width: 9px;
    height: 9px;
    border: 2px solid #0080cc;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
}


.wf-nav .wf-list li a:hover:after,
.wf-nav .wf-list li a.current:after {
    background-color: #0080cc;
}


.wf-nav .wf-list li a:hover,
.wf-nav .wf-list li a.current {
    text-decoration: none;
    border-left: 4px solid #0080cc;
    background-color: #e6f2f8;
    color: #0080cc;
}


